.imageContainer{
    overflow: hidden;
    height: 35rem;
    width: 30rem;
    border-radius: 15rem 15rem 0 0;
    
}

.vContainer .imageContainer{
    border: 8px solid rgb(232, 232, 232 / 93%);
}

.vContainer>div{
    flex: 1;
}

.vRight{
    gap: 0.5em;
}