.hWrapper {
  color: white;
  width: 100%;
}

.hContainer {
  justify-content: space-between;
  color: rgb(255, 255, 255);
  padding-top: 1rem;
}

.hMenu {
  gap: 2rem;
}

.hMenu>*:hover {
  cursor: pointer;
}

a {
  color: red;
}

a:visited {
  color: inherit;
}